{
  "env": {
    "production": {
      "presets": ["next/babel"]
    },
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "@babel/preset-env": {
              "targets": {
                "node": true
              }
            }
          }
        ]
      ]
    }
  }
}
