@import "../tokens";

.searchBar {
  width: 100%;
  display: flex;
  margin-left: $global-spacing-large;

  form {
    display: flex;
    width: 100%;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
