@import "../tokens";

.errorState {
  background-color: white;
  border-radius: $global-border-radius;
  padding: $global-spacing-xlarge;
  margin-top: $global-spacing-large;
  text-align: center;

  .title {
    font-size: 24px;
  }
  .message {
    opacity: 0.5;
  }
}
